fastapi>=0.103.1
uvicorn>=0.23.2
websockets>=11.0.3
pydantic>=2.4.2
pydantic-settings>=2.0.3
langchain>=0.0.300
langgraph>=0.0.26
python-dotenv>=1.0.0
pytest>=7.4.2
grandalf>=0.6

fastapi
uvicorn
python-multipart
python-dotenv
mediapipe==0.10.14
openai
pandas
openpyxl
moviepy==1.0.3
pydub
requests
sarvamai
librosa
numpy
